.footer {
  padding: 0 25px 30px;
  background-color: $gray-dark;
  color: white;

  &__items {
    display: flex;
    flex-direction: column;

    @include m-screen  { text-align: center; }
  }

  .h2 {
    @include m-screen  {  text-align: center; }
  }

  &__item {
    margin: 5px 0;
    color: white;

    i { margin-right: 10px; }
  }

  &__item-bold { font-weight: bold; }
}