.footer {
  padding: 0 20px 30px;
  background-color: $gray-dark;
  color: white;

  &__items {
    display: flex;
    flex-direction: column;
  }

  &__item {
    margin: 5px 0;

    i { margin-right: 10px; }
  }

  &__item-bold { font-weight: bold; }
}