.nav {
  position: relative;
  text-align: center;
  background-color: white;
  box-shadow: 1px 1px 5px #9f9f9f;
  z-index: 2;

  i {
    position: absolute;
    left: 25px;
    top: 25px;
    transition: transform 300ms;

    &:hover {transform: scale(1.20)}
  }
}