.anim_load_fade > div, .anim_load_fade > h2{
  animation: key_load_fade 150ms linear;
  animation-fill-mode: both;
  -webkit-animation-fill-mode: both;
}

@keyframes key_load_fade {
  from {
    opacity: 0;
    transform: translateY(10px);
  }

  to {
    opacity: 1;
    transform: translateY(0);
  }
}