.form-city {
  background-color: $gray-light;
  i {margin-bottom: 3px;}

  &__label {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 20px 0;
    color: $gray-dark;
    background-color: $gray;
  }

  &__input {
    width: 150px;
    padding: 0 15px;
    background-color: $gray;
    font-size: 1.1rem;
    border: none;

    &::placeholder { color: $gray-dark; }
  }

  &__container {
    padding: 40px 15px;
    text-align: center;

    p {font-weight: 300}

    & > * { margin: 15px 0; }
  }

}

