.form-city {
  background-color: $gray-light;
  i {margin-bottom: 3px;}

  &__label {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 20px 0;
    color: $gray-dark;
    background-color: $gray;
  }

  &__input {
    width: 150px;
    padding: 0 15px;
    background-color: $gray;
    font-size: 1.1rem;
    border: none;

    &::placeholder { color: $gray-dark; }
  }

  &__container {
    padding: 40px 15px;
    text-align: center;

    p {font-weight: 300}

    & > * { margin: 15px 0; }
  }
}

.steps {
  margin: 45px 20px;

  h1 {margin-bottom: 20px;}

  &__cards {
    display: flex;
    flex-direction: column;
    position: relative;
  }

  &__card {
    display: flex;
    align-items: center;
    padding: 25px 30px;
    margin:0 0 20px 10px;
    background-color: $gray-light;
    box-shadow: 1px 3px 8px #d9d9d9;
    border-radius: $b-radius;
    font-weight: bold;
  }

  &__puce {
    display: inline-block;
    position: absolute;
    left: 0;
    width: 25px;
    height: 25px;
    line-height: 25px;
    background-color: $primary;
    color: white;
    border-radius: 25px;
    text-align: center;
  }

  &__icon {
    font-size: 1.5rem;
    color: #7E7E7E;
  }
  &__content {
    margin-left: 25px;
  }
}

.restos {
  background-color: $gray;
  padding: 25px;

  h1 {margin: 40px 0 25px;}

  &__card {
    display: inline-block;
    width: 100%;
    margin-bottom: 20px;
    border-radius: $b-radius;
    box-shadow: 1px 1px 5px #c8c8c8;
    overflow: hidden;
  }

  &__card-img {
    position: relative;
    height: 160px;
    overflow: hidden;

    img {
      position: absolute;
      width: 100%;
      height: auto;
      left: 0;
      bottom: 0;
    }

    span {
      position: absolute;
      right: 10px;
      top: 10px;
      padding: 10px 10px;
      border-radius: 5px;
      box-shadow: 1px 1px 5px #c8c8c8;
      font-weight: bold;
      font-size: 0.9rem;
      background-color: #99E2D0;
      color: #23997D;
      z-index: 2;
    }
  }

  &__card-footer {
    display: flex;
    align-items: center;
    padding: 20px 15px;
    background-color: white;
  }

  &__card-name {
    flex: 1;

    &-title {
      font-size: 1.1rem;
      margin-bottom: 5px;
    }

    &-subtitle { font-weight: lighter; }
  }

  &__card-like {
    position: relative;
    height: 25px;
    width: 30px;

    i {
      position: absolute;
      font-size: 1.5rem;
    }

    .fas.fa-heart {opacity: 0}
  }
}